@import "reset";
@import "variables/global";

.app,
.app_modal {
    font: var(--font-m);
    font-weight: normal;
    color: var(--inverted-main-color)
}

.app {
    background: var(--main-color);
    min-height: 100vh;
}

.content-page {
    display: flex;
    position: relative;
    flex-direction: column;
}

.page-wrapper {
    flex-grow: 1;
}
