:root {
    /* Шрифти */
    --font-family-main: "JetBrains Mono", "Times New Roman", serif;
    --font-size-m: 14px;
    --font-line-m: 22px;
    --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-main);
    --font-size-l: 22px;
    --font-line-l: 30px;
    --font-l: var(--font-size-l) / var(--font-line-l) var(--font-family-main);
    --font-size-xl: 30px;
    --font-line-xl: 38px;
    --font-xl: var(--font-size-xl) / var(--font-line-xl) var(--font-family-main);

    /* Розміри */
    --navbar-height: 50px;
    --navbagr-height: 50px;
    --sidebar-width: 300px;
    --sidebar-width-collapsed: 80px;

    /* Z-індекс */
    --modal-z-index: 10;

    /* Кольори */
    --main-color: #fff;
    --inverted-main-color: #0f0b0a;
    --primary-color: #c43e13;
}
