.title {
    color: var(--main-color);
}

.text {
    color: var(--main-color);
}

.error {
    .title {
        color: var(--red-light);
    }

    .text {
        color: var(--red-dark);
    }
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.size_m {
    .title {
        font: var(--font-l);
    }

    .text {
        font: var(--font-m);
    }
}

.size_l {
    .title {
        font: var(--font-xl);
    }

    .text {
        font: var(--font-l);
    }
}

.size_lm {
    .title {
        font: var(--font-xl);
    }

    .text {
        font: var(--font-m);
    }
}

.size_title {
    .title{
        font-size: 50px;
        line-height: 84px;
    }
}