.app.dark {
  --bg-color: #08084b;
  --inverted-bg-color: #e8e8ea;

  --primary-color: #029602;
  --secondary-color: #00ff00;
  --inverted-primary-color: #0000ff;
  --inverted-secondary-color: #008cff;
}